﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p style="text-align: center; font-size: 30px; margin-top: 20px;">Tạo Đơn Thuốc</p>
<form action="/ThanhPhanThuoc/ThanhPhanThuoc">
    <div class="d-flex justify-content-center">
        <!-- HTML5 Inputs -->
        <div style="width:60%">
            <div id="message" class="message" style="color:red; text-align:center"></div>
            <div class="card-body">
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-3 col-form-label">Tên Người Bệnh</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" placeholder="Tên Người Bệnh..." id="tennguoibenh" name="tennguoibenh" />
                    </div>
                    <button type="button" class="col-md-1 btn" id="resettenn" onclick="resetten()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                </div>
                <div class="mb-3 row">
                    <label for="html5-search-input" class="col-md-3 col-form-label">Quê Quán</label>
                    <div class="col-md-8">
                        <input class="form-control" placeholder="Tỉnh..." id="quequan" name="quequan" />
                    </div>
                    <button type="button" class="col-md-1 btn" id="resetquequann" onclick="resetquequan()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                </div>
                <div class="mb-3 row">
                    <label for="html5-email-input" class="col-md-3 col-form-label">Tuổi</label>
                    <div class="col-md-8">
                        <input class="form-control" type="number" placeholder="Tuổi..." id="tuoi" name="tuoi" />
                    </div>
                    <button type="button" class="col-md-1 btn" id="resettuoii" onclick="resettuoi()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                </div>
                <div class="mb-3 row">
                    <label for="html5-email-input" class="col-md-3 col-form-label">Cân Nặng</label>
                    <div class="col-md-8">
                        <input class="form-control" type="number" placeholder="Cân Nặng" id="cannang" name="cannang" />
                    </div>
                    <button type="button" class="col-md-1 btn" id="resetcannangg" onclick="resetcannang()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row-reverse" style="margin-top:80px">
        <button class="btn btn-primary" style="margin-left:10px" type="submit" id="tieptuc">Tiếp Tục</button>
        <a href="~/Home/Index" class="btn btn-danger" type="button">Hủy</a>
    </div>
</form>
<script>
    document.getElementById("tieptuc").disabled = true;
    document.getElementById("resettenn").disabled = true;
    document.getElementById("resetquequann").disabled = true;
    document.getElementById("resettuoii").disabled = true;
    document.getElementById("resetcannangg").disabled = true;
    window.onload = function() {
        VoiceHoTen();
    }
    function VoiceHoTen() {
        document.getElementById('message').innerHTML = 'Vui Lòng Nói Họ Và Tên';
        window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;

        const recognition = new SpeechRecognition();
        recognition.interimResults = true;
        recognition.addEventListener("result", (e) => {
            const text = Array.from(e.results)
                .map((result) => result[0])
                .map((result) => result.transcript)
                .join("");
            document.getElementById('tennguoibenh').value = text;

        });
        recognition.addEventListener("end", () => {
            if (document.getElementById('tennguoibenh').value == "") {
                VoiceHoTen();
            }
            else {
                VoiceQueQuan()
            }
        });
        recognition.start();
    };
    function VoiceQueQuan() {
        document.getElementById('message').innerHTML = 'Vui Lòng Nói Quê Quán';
        window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        const recognition = new SpeechRecognition();
        recognition.interimResults = true;
        recognition.addEventListener("result", (e) => {

            const text = Array.from(e.results)
                .map((result) => result[0])
                .map((result) => result.transcript)
                .join("");
            document.getElementById('quequan').value = text;

        });
        recognition.addEventListener("end", () => {
            if (document.getElementById('quequan').value == "") {
                VoiceQueQuan()
            }
            else {
                VoiceTuoi()
            }
        });

        recognition.start();
    }

    function VoiceTuoi() {
        document.getElementById('message').innerHTML = 'Vui Lòng Nói Tuổi';
        window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        const recognition = new SpeechRecognition();
        recognition.interimResults = true;
        recognition.addEventListener("result", (e) => {
            const text = Array.from(e.results)
                .map((result) => result[0])
                .map((result) => result.transcript)
                .join("");
            document.getElementById('tuoi').value = text;

        });
        recognition.addEventListener("end", () => {
            if (document.getElementById('tuoi').value == "") {
                VoiceTuoi();
            }
            else {
                VoiceCanNang()
            }
        });
        recognition.start();
    }

    function VoiceCanNang() {
        document.getElementById('message').innerHTML = 'Vui Lòng Nói Cân Nặng';
        window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        const recognition = new SpeechRecognition();
        recognition.interimResults = true;
        recognition.addEventListener("result", (e) => {
            const text = Array.from(e.results)
                .map((result) => result[0])
                .map((result) => result.transcript)
                .join("");
            document.getElementById('cannang').value = text;

        });

        recognition.addEventListener("end", () => {
            if (document.getElementById('cannang').value == "") {
                VoiceCanNang();
            }
            else {
                document.getElementById("tieptuc").disabled = false;
                document.getElementById("resettenn").disabled = false;
                document.getElementById("resetquequann").disabled = false;
                document.getElementById("resettuoii").disabled = false;
                document.getElementById("resetcannangg").disabled = false;
                Check();
            }
        });
        recognition.start();
    }

    function Check() {
        var a;
        document.getElementById('message').innerHTML = 'Vui Lòng Nói' + '&nbsp;"' + '<span style="color:blue">Tiếp Tục</span>' + '"&nbsp;' + 'Để Tiếp Tục ,' + '&nbsp;"' + '<span style="color:blue">Hủy</span>' + '"&nbsp;' + 'Để Hủy'
        window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        const recognition = new SpeechRecognition();
        recognition.interimResults = true;
        recognition.addEventListener("result", (e) => {
            const text = Array.from(e.results)
                .map((result) => result[0])
                .map((result) => result.transcript)
                .join("");
            a = text;

        });

        recognition.addEventListener("end", () => {
            if (a.toLowerCase() == "tiếp tục") {
                document.getElementById("tieptuc").disabled = false;
                document.getElementById("tieptuc").click();
            }
            else if (a.toLowerCase() == "hủy") {
                alert('bạn đã hủy')
            }
            else {
                Check()
            }
        });
        recognition.start();
    }

    function resetten() {
        document.getElementById('tennguoibenh').value = "";
        document.getElementById('message').innerHTML = 'Vui Lòng Nói Họ Và Tên';
        window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;

        const recognition = new SpeechRecognition();
        recognition.interimResults = true;
        recognition.addEventListener("result", (e) => {
            const text = Array.from(e.results)
                .map((result) => result[0])
                .map((result) => result.transcript)
                .join("");
            document.getElementById('tennguoibenh').value = text;
        });
        recognition.addEventListener("end", () => {
            if (document.getElementById('tennguoibenh').value == "") {
                resetten();
            }
            else {
                Check();
            }
        });
        recognition.start();
    }

    function resettuoi() {
        document.getElementById('tuoi').value == "";
        document.getElementById('message').innerHTML = 'Vui Lòng Nói Tuổi';
        window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        const recognition = new SpeechRecognition();
        recognition.interimResults = true;
        recognition.addEventListener("result", (e) => {
            const text = Array.from(e.results)
                .map((result) => result[0])
                .map((result) => result.transcript)
                .join("");
            document.getElementById('tuoi').value = text;

        });
        recognition.addEventListener("end", () => {
            if (document.getElementById('tuoi').value == "") {
                resettuoi();
            }
            else {
                Check();
            }
        });
        recognition.start();
    }

    function resetcannang() {
        document.getElementById('cannang').value == "";
        document.getElementById('message').innerHTML = 'Vui Lòng Nói Cân Nặng';
        window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        const recognition = new SpeechRecognition();
        recognition.interimResults = true;
        recognition.addEventListener("result", (e) => {
            const text = Array.from(e.results)
                .map((result) => result[0])
                .map((result) => result.transcript)
                .join("");
            document.getElementById('cannang').value = text;

        });

        recognition.addEventListener("end", () => {
            if (document.getElementById('cannang').value == "") {
                resetcannang();
            }
            else {
                document.getElementById("tieptuc").disabled = false;
                Check();
            }
        });
        recognition.start();
    }

    function resetdiachi() {
        document.getElementById('quequan').value == "";
        document.getElementById('message').innerHTML = 'Vui Lòng Nói Quê Quán';
        window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        const recognition = new SpeechRecognition();
        recognition.interimResults = true;
        recognition.addEventListener("result", (e) => {

            const text = Array.from(e.results)
                .map((result) => result[0])
                .map((result) => result.transcript)
                .join("");
            document.getElementById('quequan').value = text;

        });
        recognition.addEventListener("end", () => {
            if (document.getElementById('quequan').value == "") {
                resetdiachi();
            }
            else {
                Check();
            }
        });
        recognition.start();
    }
</script>