﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link href="~/Content/css/Main.css" rel="stylesheet" />

    <link href="~/Content/Boostrap/bootstrap-5.1.3-dist/bootstrap-5.1.3-dist/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" />

    @*    <link rel="stylesheet" href="~/Content/css/core.css" class="template-customizer-core-css" />*@

    <link rel="stylesheet" href="~/Content/css/style.css" class="template-customizer-core-css" />

    <!-- Bootstrap CSS CDN -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">-->

    <link href="~/Content/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <!-- Font Awesome JS -->
</head>
<body style="background-color: #f5f5f9;">
    <div class="wrapper">
        <div id="content">
            <div class="card" style="height: 100%;">
                <div class="card-body">
                    <div>
                        <img src="~/Content/Image/1.jpg" width="100%" height="100px">
                    </div>
                    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: 10px;">
                        <div class="container">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul id="main-menu">
                                    <li>
                                        <a href="~/Home/Index" class="btn btn-primary">Trang Chủ</a>
                                    </li>
                                    <li style="margin-left:10px">
                                        <a href="~/ChonLoaiThuoc/HoTro" class="btn btn-outline-primary">Hỗ Trợ</a>
                                    </li>
                                    <li style="margin-left:10px">
                                        <a href="~/ChonLoaiThuoc/Tacgia" class="btn btn-outline-primary">Tác Giả</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </nav>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/Content/main.js"></script>
    <script src="~/Content/Boostrap/bootstrap-5.1.3-dist/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Content/Boostrap/bootstrap-5.1.3-dist/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
    <!-- jQuery Custom Scroller CDN -->

    <script src="~/Content/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
</body>

</html>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>