﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p style="text-align: center; font-size: 30px; margin-top: 20px;">Thành Phần Thuốc</p>
<form action="/ChonLoaiThuoc/ChonLoaiThuoc">
    <div class="d-flex justify-content-center">
        <!-- HTML5 Inputs -->
        <div style="width:60%">
            <div id="message" class="message" style="color:red; text-align:center"></div>
            <div class="card-body">
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-3 col-form-label">Thành Phần Thuốc</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" placeholder="Thành Phần Thuốc..." id="thanhphanthuoc" name="ThanhPhanThuoc" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row-reverse" style="margin-top:80px">
        <button class="btn btn-primary" style="margin-left:10px" type="submit" id="tieptuc">Tiếp Tục</button>
        <button class="btn btn-danger" type="button">Nhập Lại</button>
    </div>
</form>
<script>
    window.onload = function VoiceThanhPhanThuoc() {
        document.getElementById('message').innerHTML = 'Vui Lòng Nói Thành Phần Thuốc';
        window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;

        const recognition = new SpeechRecognition();
        recognition.interimResults = true;
        recognition.addEventListener("result", (e) => {
            const text = Array.from(e.results)
                .map((result) => result[0])
                .map((result) => result.transcript)
                .join("");
            document.getElementById('thanhphanthuoc').value = text;

        });
        recognition.addEventListener("end", () => {
            if (document.getElementById('thanhphanthuoc').value == "") {
                VoiceThanhPhanThuoc();
            }
            else {
                Check();
            }
        });
        recognition.start();
    };

    function Check() {
        var a;
        document.getElementById('message').innerHTML = 'Vui Lòng Nói' + '&nbsp;"' + '<span style="color:blue">Tiếp Tục</span>' + '"&nbsp;' + 'Để Tiếp Tục ,' + '&nbsp;"' + '<span style="color:blue">Hủy</span>' + '"&nbsp;' + 'Để Hủy'
        window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        const recognition = new SpeechRecognition();
        recognition.interimResults = true;
        recognition.addEventListener("result", (e) => {
            const text = Array.from(e.results)
                .map((result) => result[0])
                .map((result) => result.transcript)
                .join("");
            a = text;

        });
        recognition.onspeechend = function() {
            if (a.toLowerCase() == "tiếp tục") {
                recognition.stop();
                var xhttp = new XMLHttpRequest() || ActiveXObject();

                var thanhphanthuoc = document.getElementById('thanhphanthuoc').value;
                if (thanhphanthuoc == "") {
                    Check();
                }
                $.ajax({
                    url: "/thanhphanthuoc/CheckThanhPhanThuoc?thanhphanthuoc=" + thanhphanthuoc,
                    type: "GET",
                    dataType: "text",
                    success: function(result) {
                        if(result.status == false){
                            document.getElementById('message').innerHTML = result.message;
                            VoiceThanhPhanThuoc();
                        }
                        else {
                            document.getElementById("tieptuc").click();
                        }
                    }
                });
            }
            else if (a.toLowerCase() == "nhập lại") {
                document.getElementById('thanhphanthuoc').value == "";
                VoiceThanhPhanThuoc();
            }
            else {
                Check()
            }
        }
        recognition.start();
    }
</script>