﻿.navbar {
    height: 60px;
}

ul {
    list-style-type: none;
}



#main-menu {
    display: flex;
    margin-top:15px
}

nav #main-menu li a {
    color: rgb(16, 4, 4);
    text-decoration: none;
    display: block;
    padding: 8px 15px;
}

nav #main-menu li:hover a {
    background: #eac9c1;
    transition: all 0.3s;
}

#toggle {
    display: none;
    background: #353b48;
    color: #fff;
    text-align: right;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.login {
    text-align: right;
}

    .login a {
        text-decoration: none
    }

    .login p {
        margin-top: 25px;
    }

.sidebar {
    width: 15%;
    height: 1000px;
    float: left;
}

.main-content {
    margin-top: -15px;
}

.sidebar a div {
    padding-left: 10px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #B6D9E0;
    background-color: #E8F4F7;
    height: 40px;
}

.box-sidebar {
    background-color: #fff;
    height: 1000px;
    width: 97%;
    border-right: 1px solid #B6D9E0;
    border-top: 1px solid #B6D9E0;
}


.card-header {
    background-color: #fff;
}

.pager {
    background-color: #fff;
    margin-top: 5px;
    flex:auto
}

.card-header {
    width: 100%;
}

.fitter {
    width: 100%;
}


.account {
    position: absolute;
    text-align: right;
    margin-right: 10px;
}

    .account a {
        text-decoration: none
    }

.group-button{
    margin-bottom: 15px;
}

.buttons_added {
    opacity: 1;
    display: inline-block;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
    vertical-align: top;
}

.is-form {
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    height: 2.2rem;
    width: 1.9rem;
    padding: 0;
    text-shadow: 1px 1px 1px #fff;
    border: 1px solid #ddd;
}

    .is-form:focus, .input-text:focus {
        outline: none;
    }

    .is-form.minus {
        border-radius: 4px 0 0 4px;
    }

    .is-form.plus {
        border-radius: 0 4px 4px 0;
    }

.input-qty {
    background-color: #fff;
    height: 2.2rem;
    text-align: center;
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    padding: 0;
}

    .input-qty::-webkit-outer-spin-button, .input-qty::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff
}

.site-dialog {
    overflow: hidden;
    width: 95%;
    max-width: 500px;
    padding: 0;
    border-width: 0;
    border-radius: 5px;
    background: transparent;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .3);
}

.boxed-group-inner {
    font-size: 14px;
    font-weight: 300;
    color: #aaa;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #e6e9ed;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #fff;
}

.cf:before,
.cf:after {
    display: table;
    content: ' ';
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.boxed-group-inner {
    font-size: 14px;
    font-weight: 300;
    color: #aaa;
    border-width: 0 1px 1px;
    border-style: solid;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #fff;
}

.dialog-header {
    padding: 12px 15px;
    background-color: #6699FF;
}

.dialog-content {
    padding: 20px 20px;
    color: #aaa;
    background-color: #fff;
}

.boxed-group {
    width: 90%;
    max-width: 680px;
    margin-right: auto;
    margin-left: auto;
}

.dialog-content label {
    margin-top: 10px;
}

/*.header img {
    width : 100%;
    height : 60px ;
}

    .jconfirm-holder { 
        overflow-y: auto; 
    } 
    .site-dialog
    {
        max-height: 100%;
        overflow: auto;
    }
    
    .group-button .btn-outline-primary {
        color: #0d6efd;
        border-color: #0d6efd;
        margin-right: 5px;
    }

    .group-button .btn-outline-primary i {
        color: #0d6efd;
    }*/
    .card{
        margin-left: 10px;
        margin-right: 10px;
    }

    .content-wrapper{
        margin-top: 10px;
    }
    /* .form-label{
        margin-bottom: 0.5rem;
        font-weight: 500;
        color: #566a7f;
    } */

    .list-unstyled {
font-weight: 600;
    }
.navbar-btn{
    display: none;
}
@media only screen and (max-width: 600px) {
    .navbar-btn{
        display: flex;
    }
}
.table-striped thead{
    background-color: #E8F4F7;
}

.form-label{
    margin-top:20px
}
