﻿@{
    ViewData["Title"] = "ChonLoaiThuoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}
@model List<QLBT1.Models.thuoc>
<h1 style="text-align:center">CHỌN LOẠI THUỐC</h1>
<div>
    <form action="~/ChonLoaiThuoc/DonThuoc" method="post">
        <div class="container">
            <div>
                <h4>Vui lòng chọn loại thuốc có thành phần :</h4>
            </div>
            <div>
                <table class="table table-striped-sm" @*style="height:200px"*@>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>STT</th>
                            <th>Tên thuốc</th>
                            <th>Cách dùng</th>
                            <th>Chống chỉ định</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr><input type="hidden" name="thanh" value="@item.TenThanhPhan">
                                <td >
                                  <input type="radio" class="form-check-input" name="thuoc" value="@item.TenThuoc">
                                  
                                </td>
                                <td>
                                    @(i += 1)
                                </td>
                                <td>@item.TenThuoc</td>
                                <td>@item.CachDung</td>
                                <td>@item.ChiDinh</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container">
            <div>
                <h4>Vui lòng chọn quầy thuốc :</h4>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                        <div>
                            <table class="table table-bordered table-sm" style="width:500px; ">
                                <thead style="text-align:center">
                                    <tr>
                                        <th>Quầy 1</th>
                                        <th>Quầy 2</th>
                                        <th>Quầy 3</th>
                                    </tr>
                                </thead>
                                <tbody style="text-align:center">
                                    <tr>
                                        <td><input type="radio" class="form-check-input" name="quay" value="1">&nbsp;15 Hộp</td>
                                        <td>
                                            Hết</td>
                                        <td><input type="radio" class="form-check-input" name="quay" value="3">&nbsp;12 Hộp</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-12" style="margin-top:15px">
            <div class="row">
                <div class="col-md-9">
                </div>
                <div class="col-md-3">
                    <a href="~/ThanhPhanThuoc/ThanhPhanThuoc" class="btn btn-light" style="color:Black">Quay lại</a>
                    <button type="submit" class="btn btn-primary" style="color:Black">Tiếp tục</button>
                </div>
            </div>
        </div>
    </form>
</div>