﻿@{
    ViewData["Title"] = "DonThuoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<QLBT1.Models.DT>
<from method="post" action="" id="myfrm">
    <div class="col-12">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div style="text-align: center">
                    <span style="text-align: center; font-size:15px">
                        <span style="font-size:18px ; font-weight: 600; margin-bottom: 10px">BỆNH VIỆN VIỆT ĐỨC</span><br />
                        Địa Chỉ: 40 Tràng Thi, Hàng Bông, Hoàn Kiếm, Hà Nội<br />
                        Số Điện Thoại: 0987654321
                    </span>
                </div>
                <div style="margin-top: 20px; text-align:center;">
                    <span style="font-size:25px; font-weight: 600">
                        HÓA ĐƠN BÁN THUỐC
                    </span>
                </div>
                <div class="row" style="margin-top:10px ">
                    <div class="col-md-6">
                        Tên bệnh nhân: @ViewBag.TenBenhNhan
                    </div>
                    <div class="col-md-3">
                        Tuổi: @ViewBag.Tuoi
                    </div>
                    <div class="col-md-3">
                        Cân nặng: @ViewBag.CanNang
                    </div>
                </div>
                <div>
                    <table style="width:100% ; ;margin-top:10px; border:1px solid">
                        <thead>
                            <tr>

                                <th>Tên thuốc</th>
                                <th>Cách dùng</th>
                                <th>Liều dùng</th>
                                <th>Số lượng </th>
                                <th>Quầy số </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.TenThuoc</td>
                                    <td>@item.CachDung</td>
                                    <td>
                                        @item.Sl Viên
                                    </td>
                                    <td>
                                        1 hộp
                                    </td>
                                    <td>
                                        @ViewBag.quay
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div style="text-align: right; margin-top:20px">
                        <b>Bs.Nguyễn Văn A</b>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</from>
<div class="d-flex flex-row-reverse" style="margin-top:140px">
    <button type="button" class="btn btn-primary" onclick="myPrint('myfrm')" style="color:Black; margin-left:10px">in</button>
    <a href="~/ChonLoaiThuoc/Quaylai" class="btn btn-light" style="color:Black">Quay lại</a>&ensp;
</div>
<script>
    function myPrint(myfrm) {
        var printdata = document.getElementById(myfrm);
        newwin = window.open("");
        newwin.document.write(printdata.outerHTML);
        newwin.print();
        newwin.close();
    }
</script>