﻿
@{
    ViewData["Title"] = "HoTro";
}

<h4 style="text-align:center">HỖ TRỢ </h4>

<section class="container">
    <div>
    Cần sự hỗ trợ vui lòng liên hệ cho chúng tôi: 
</div>
    <table class="table table-borderless" >
        <thead>
            <tr>
                <th>STT</th>
                <th>Họ Và Tên</th>
                <th>Số Điên Thoại</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Trần Ngọc Bách</td>
                <td>086931202</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Đào Văn Nam</td>
                <td>0333921177</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Dương Xuân Quân</td>
                <td>0983311120</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Hà Minh Tú</td>
                <td>0981123618</td>
            </tr>
        </tbody>
    </table>
</section>
