﻿@{
    ViewData["Title"] = "Tacgia";
}
<section class="container">
    <h3 style="text-align:center">TÁC GIẢ </h3>
    <div style="text-align:center">********</div>
    <table class="table table-borderless" >
        <thead>
            <tr>
                <th>STT</th>
                <th>Họ Và Tên</th>
                <th>Mã Sinh Viên</th>
                <th>Lớp</th>
                <th>Số Điên Thoại</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Trần Ngọc Bách</td>
                <td>2018606588</td>
                <td>CĐT4 - K13</td>
                <td>086931202</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Đào Văn Nam</td>
                <td>2018606288</td>
                <td>CĐT4 - K13</td>
                <td>0333921177</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Dương Xuân Quân</td>
                <td>2018606308</td>
                <td>CĐT4 - K13</td>
                <td>0983311120</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Hà Minh Tú</td>
                <td>2018606595</td>
                <td>CĐT4 - K13</td>
                <td>0981123618</td>
            </tr>
        </tbody>
    </table>
  @*  <b></b>
    <div style="text-align:center"></div>
    <div style="text-align:center"></div>
    <div style="text-align:center"></div>
    <div style="text-align:center"></div>
    <div style="text-align:center"></div>

    <div style="text-align:center"> <h4>Cảm Ơn</h4>  </div>*@

</section>