﻿@{
    ViewData["Title"] = "Home Page";
}
<p style="text-align: center; font-size: 30px; margin-top: 20px;">Phần Mềm Hỗ Trợ Tạo Đơn Thuốc Bằng Giọng Nói</p>
<div class="d-flex justify-content-center" style="margin-top: 70px;">
    <form action="/taodonthuoc/taodonthuoc">
    <button type="submit" class="btn btn-outline-success" style="margin-left: 10px; width: 300px ; height: 100px; font-size: 25px;">Tạo Đơn Thuốc</button>
    </form>
</div>
